<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/eSports.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
            rel="stylesheet"
        />
        <title>Protto eSports - CS:GO</title>
    </head>
    <body>
        <header class="header">{% include 'fragments/navbar.html' %}</header>

        <img
            class="banner"
            src="/img/banners/csgo.svg"
            alt="Banner com a logo do CS"
        />

        <section class="games">
            <div class="games-container">
                <div class="tournament-name">PGL Major Antwerp 2022</div>
                <div class="versus">
                    <img
                        src="/img/logos-teams/imperial.svg"
                        alt="Logo Imperial"
                    />
                    <a>X</a>
                    <img src="/img/logos-teams/loud.svg" alt="Logo Faze" />
                </div>
                <div class="date-tournament">
                    <div>25/01</div>
                    <div>-</div>
                    <div>16:30</div>
                </div>
            </div>

            <div><hr class="vertical" /></div>

            <div class="games-container">
                <div class="tournament-name">PGL Major Antwerp 2022</div>
                <div class="versus">
                    <img
                        src="/img/logos-teams/imperial.svg"
                        alt="Logo Imperial"
                    />
                    <a>X</a>
                    <img src="/img/logos-teams/loud.svg" alt="Logo Faze" />
                </div>
                <div class="date-tournament">
                    <div>25/01</div>
                    <div>-</div>
                    <div>16:30</div>
                </div>
            </div>

            <div><hr class="vertical" /></div>

            <div class="games-container">
                <div class="tournament-name">PGL Major Antwerp 2022</div>
                <div class="versus">
                    <img
                        src="/img/logos-teams/imperial.svg"
                        alt="Logo Imperial"
                    />
                    <a>X</a>
                    <img src="/img/logos-teams/loud.svg" alt="Logo Faze" />
                </div>
                <div class="date-tournament">
                    <div>25/01</div>
                    <div>-</div>
                    <div>16:30</div>
                </div>
            </div>

            <div><hr class="vertical" /></div>

            <div class="games-container">
                <div class="tournament-name">PGL Major Antwerp 2022</div>
                <div class="versus">
                    <img
                        src="/img/logos-teams/imperial.svg"
                        alt="Logo Imperial"
                    />
                    <a>X</a>
                    <img src="/img/logos-teams/loud.svg" alt="Logo Faze" />
                </div>
                <div class="date-tournament">
                    <div>25/01</div>
                    <div>-</div>
                    <div>16:30</div>
                </div>
            </div>

            <div><hr class="vertical" /></div>

            <div class="games-container">
                <div class="tournament-name">PGL Major Antwerp 2022</div>
                <div class="versus">
                    <img
                        src="/img/logos-teams/imperial.svg"
                        alt="Logo Imperial"
                    />
                    <a>X</a>
                    <img src="/img/logos-teams/loud.svg" alt="Logo Faze" />
                </div>
                <div class="date-tournament">
                    <div>25/01</div>
                    <div>-</div>
                    <div>16:30</div>
                </div>
            </div>

            <div><hr class="vertical" /></div>

            <div class="games-container">
                <div class="tournament-name">PGL Major Antwerp 2022</div>
                <div class="versus">
                    <img
                        src="/img/logos-teams/imperial.svg"
                        alt="Logo Imperial"
                    />
                    <a>X</a>
                    <img src="/img/logos-teams/loud.svg" alt="Logo Faze" />
                </div>
                <div class="date-tournament">
                    <div>25/01</div>
                    <div>-</div>
                    <div>16:30</div>
                </div>
            </div>

            <div><hr class="vertical" /></div>

            <div class="games-container">
                <div class="tournament-name">PGL Major Antwerp 2022</div>
                <div class="versus">
                    <img
                        src="/img/logos-teams/imperial.svg"
                        alt="Logo Imperial"
                    />
                    <a>X</a>
                    <img src="/img/logos-teams/loud.svg" alt="Logo Faze" />
                </div>
                <div class="date-tournament">
                    <div>25/01</div>
                    <div>-</div>
                    <div>16:30</div>
                </div>
            </div>

            <div><hr class="vertical" /></div>

            <div class="games-container">
                <div class="tournament-name">PGL Major Antwerp 2022</div>
                <div class="versus">
                    <img
                        src="/img/logos-teams/imperial.svg"
                        alt="Logo Imperial"
                    />
                    <a>X</a>
                    <img src="/img/logos-teams/loud.svg" alt="Logo Faze" />
                </div>
                <div class="date-tournament">
                    <div>25/01</div>
                    <div>-</div>
                    <div>16:30</div>
                </div>
            </div>
        </section>

        <div class="teams-rank">
            <a>Ranking -</a><a class="letter-green">Teams</a>
        </div>
        <div class="box-ranking">
            <div class="ranking">
                <div class="ranking-container">
                    <div class="position1">1º</div>
                    <div class="teams">
                        <img
                            src="/img/logos-teams/imperial.svg"
                            alt="Logo Imperial"
                        />
                        <a class="team-name">Imperial</a>
                    </div>
                </div>
                <div class="ranking-container">
                    <div class="position2">2º</div>
                    <div class="teams">
                        <img
                            src="/img/logos-teams/imperial.svg"
                            alt="Logo Imperial"
                        />
                        <a class="team-name">Imperial</a>
                    </div>
                </div>
                <div class="ranking-container">
                    <div class="position3">3º</div>
                    <div class="teams">
                        <img
                            src="/img/logos-teams/imperial.svg"
                            alt="Logo Imperial"
                        />
                        <a class="team-name">Imperial</a>
                    </div>
                </div>
                <div class="ranking-container">
                    <div class="positions">4º</div>
                    <div class="teams">
                        <img
                            src="/img/logos-teams/imperial.svg"
                            alt="Logo Imperial"
                        />
                        <a class="team-name">Imperial</a>
                    </div>
                </div>
                <div class="ranking-container">
                    <div class="positions">5º</div>
                    <div class="teams">
                        <img
                            src="/img/logos-teams/imperial.svg"
                            alt="Logo Imperial"
                        />
                        <a class="team-name">Imperial</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="players-rank">
            <a>Ranking -</a><a class="letter-green">Players</a>
        </div>
        <div class="box-ranking">
            <div class="ranking">
                <div class="ranking-container">
                    <div class="position1">1º</div>
                    <div class="teams">
                        <img
                            src="/img/logos-teams/imperial.svg"
                            alt="Logo Imperial"
                        />
                        <a class="team-name">Imperial</a>
                    </div>
                </div>
                <div class="ranking-container">
                    <div class="position2">2º</div>
                    <div class="teams">
                        <img
                            src="/img/logos-teams/imperial.svg"
                            alt="Logo Imperial"
                        />
                        <a class="team-name">Imperial</a>
                    </div>
                </div>
                <div class="ranking-container">
                    <div class="position3">3º</div>
                    <div class="teams">
                        <img
                            src="/img/logos-teams/imperial.svg"
                            alt="Logo Imperial"
                        />
                        <a class="team-name">Imperial</a>
                    </div>
                </div>
                <div class="ranking-container">
                    <div class="positions">4º</div>
                    <div class="teams">
                        <img
                            src="/img/logos-teams/imperial.svg"
                            alt="Logo Imperial"
                        />
                        <a class="team-name">Imperial</a>
                    </div>
                </div>
                <div class="ranking-container">
                    <div class="positions">5º</div>
                    <div class="teams">
                        <img
                            src="/img/logos-teams/imperial.svg"
                            alt="Logo Imperial"
                        />
                        <a class="team-name">Imperial</a>
                    </div>
                </div>
            </div>
        </div>

        <hr class="horizontal" />

        <main>{% include 'news/news.html' %}</main>
        <h1>Notícias</h1>
        <footer class="footer">{% include 'fragments/footer.html' %}</footer>

        <script src="/script.js"></script>
    </body>
</html>
