<footer class="footer">
    <div class="copyright">
        <img src="/img/logos-games/logo prottoesports.svg" alt="" />
        <a href="">© Copyright 2019 - 2022 Protto eSports</a>
    </div>
    <div class="footer-links">
        <div class="eSports">
            <a href=""><b>eSports</b></a>
            <a href="">League of Legends</a>
            <a href="">CS:GO</a>
            <a href="">Dota 2</a>
            <a href="">Fortnite</a>
            <a href="">FIFA 22</a>
            <a href="">Free Fire</a>
        </div>
        <div class="championship">
            <a href=""><b>Campeonatos</b></a>
            <a href="">CBLOL</a>
            <a href="">PGL Major Antwerp</a>
            <a href="">The International</a>
            <a href="">Fortnite World Cup</a>
            <a href="">Global Series</a>
            <a href="">Free Fire World Series</a>
        </div>
    </div>
</footer>

<!-------------------- MICHEL -------------------------
<footer class="bg-black ">
    <div class="container-fluid text-white">
        <div class="row justify-content-center py-4 my-2">

            <div class="col-4">
                <h5 class="text-uppercase fw-bold text-light"> eSports </h5>
                <p>
                    Copyright 2019 Protto eSports
                </p>
            </div>

            <div class="col-2">
                <h5 class="fw-bold text-light"> eSports </h5>
                <hr>
                <p><a class="text-light" style="text-decoration: none" href="">League of Legends</a></p>
                <p><a class="text-light" style="text-decoration: none" href="">League of Legends</a></p>
                <p><a class="text-light" style="text-decoration: none" href="">League of Legends</a></p>
                <p><a class="text-light" style="text-decoration: none" href="">League of Legends</a></p>
                <p><a class="text-light" style="text-decoration: none" href="">League of Legends</a></p>
                <p><a class="text-light" style="text-decoration: none" href="">League of Legends</a></p>
            </div>

            <div class="col-2">
                <h5 class="fw-bold text-light"> Campeonatos </h5>
                <hr>
                <p><a class="text-light" style="text-decoration: none" href="">League of Legends</a></p>
                <p><a class="text-light" style="text-decoration: none" href="">League of Legends</a></p>
                <p><a class="text-light" style="text-decoration: none" href="">League of Legends</a></p>
                <p><a class="text-light" style="text-decoration: none" href="">League of Legends</a></p>
                <p><a class="text-light" style="text-decoration: none" href="">League of Legends</a></p>
                <p><a class="text-light" style="text-decoration: none" href="">League of Legends</a></p>
            </div>

        </div>
    </div>
</footer>