<footer class="bg-black ">
    <div class="container-fluid text-white">
        <div class="row justify-content-center py-4 my-2">

            <div class="col-4">
                <h5 class="text-uppercase fw-bold text-light"> eSports </h5>
                <p>
                    Copyright 2019 Protto eSports
                </p>
            </div>

            <div class="col-2">
                <h5 class="fw-bold text-light"> eSports </h5>
                <hr>
                <p><a class="text-light" style="text-decoration: none" href="">League of Legends</a></p>
                <p><a class="text-light" style="text-decoration: none" href="">League of Legends</a></p>
                <p><a class="text-light" style="text-decoration: none" href="">League of Legends</a></p>
                <p><a class="text-light" style="text-decoration: none" href="">League of Legends</a></p>
                <p><a class="text-light" style="text-decoration: none" href="">League of Legends</a></p>
                <p><a class="text-light" style="text-decoration: none" href="">League of Legends</a></p>
            </div>

            <div class="col-2">
                <h5 class="fw-bold text-light"> Campeonatos </h5>
                <hr>
                <p><a class="text-light" style="text-decoration: none" href="">League of Legends</a></p>
                <p><a class="text-light" style="text-decoration: none" href="">League of Legends</a></p>
                <p><a class="text-light" style="text-decoration: none" href="">League of Legends</a></p>
                <p><a class="text-light" style="text-decoration: none" href="">League of Legends</a></p>
                <p><a class="text-light" style="text-decoration: none" href="">League of Legends</a></p>
                <p><a class="text-light" style="text-decoration: none" href="">League of Legends</a></p>
            </div>

        </div>
    </div>
</footer>