{% load static %}

<img class="logo" src="{% static 'img/logos-games/logo-prottoesports.svg' %}" />
<div class="search-box">
    <input type="text" class="search-text" placeholder="Pesquisar" />
    <a class="search-btn">
        <img
            class="long-search"
            src="{% static 'img/icons/search.png' %}"
            alt="Search Button"
        />
    </a>
</div>
<nav id="nav">
    <button
        id="btn-mobile"
        aria-label="Abrir Menu"
        aria-haspopup="true"
        aria-controls="menu"
        aria-expanded="false"
    >
        <span id="hamburguer"></span>
    </button>
    <ul id="menu" role="menu">
        <li><a id="inicio" href="{% url 'home' %}">Início</a></li>
        <li>
            <a id="eSports" href="{% url 'esports' %}">eSports</a>
        </li>
        <li>
            <a id="torneios" href="{% url 'torneios' %}">Torneios</a>
        </li>
        <button href="{% url 'login' %}">Login</button>
    </ul>
</nav>

<!-------------------- MICHEL -------------------------
<nav class="navbar navbar-expand-lg navbar-dark bg-black my-3">
    <div class="container-fluid">
        <a class="navbar-brand text-color-green" href="#">ProttoESports</a>


        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Início</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'esports' %}">eSports</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'torneios' %}">Torneios</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>

            </ul>
            {% if user.is_authenticated %}
            <li class="nav-item">
               <a class="nav-link" href="{% url 'login' %}">
                   {% if user.socialaccount_set.all.0.get_avatar_url %}
                       <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}"
                           class="rounded-circle"
                           alt="{{user.username}}"
                            style="height:40px; width:40px">
                   {% elif user.perfil.foto %}
                       <img src="{{ user.perfil.foto.url }}"
                           class="rounded-circle"
                           alt="{{user.username}}"
                           style="height:40px; width:40px">
                   {% else %}
                       <span>Olá, {{ user.username }}.</span>
                   {% endif %}
               </a>
           </li>
       {% else %}
            <li class="nav-item">
               <a class="nav-link" href="{% url 'login' %}">Login</a>
           </li>
       {% endif %}
            <form class="d-flex">
                <input class="form-control me-1 rounded-pill"
                       type="search"
                       placeholder="Search"
                       aria-label="Search">
            </form>

        </div>
    </div>
</nav>-->
